body{
  background:#8ca55a;
}
#quote-box{
  margin: 40px 0px 40px 0px;
}
.box{
  background-color:#FFF;
  border-radius: 5%;
  min-height:320px;
  max-height:500px;
}
h4
{
  color:#6600cc;
  font-family: 'Cinzel', serif;
  font-size: 35px;
}
#quote{
  margin: 10px 0px 0px 0px;
  color:#6600cc;
  font-family: 'Cinzel', serif;
  font-size: 25px;
}
#author{
  color:#6600cc;
  font-family: 'Tangerine', serif;
  font-size: 30px;
  height 30px;
}
.btn-green{
  background-color: #8a8a5c;
  color:#FFF;
  font-family: 'Tangerine', serif;
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}
#tweet-quote{
  float: left;
  padding: 0px;
  padding-top: 4px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
  background-color: #8a8a5c;
}
.font-aws
{
  color:#FFF;
}